<form name="editProfile">
	<fieldset class="form-group">
		<label style="display:block;">Enter Your First Name:
			<input style="display:block;" type="text" class="form-control" ng-model="user.firstName" name="" required />
		</label>
		<label style="display:block;">Enter Your Last Name:
			<input style="display:block;" type="text" class="form-control" ng-model="user.lastName" name="" required />
		</label>
		<label style="display:block;">Enter Your Date of Birth:
			<md-datepicker style="display:block; "ng-model="user.DOB" md-placeholder="Enter date"></md-datepicker>
		</label>
		<label style="display:block;">Say something about yourself:
			<textarea style="display:block;" style="display:block;" class="form-control" type="text" ng-model="user.about" name="" required></textarea>
		</label>
		<button class="md-raised md-primary md-button md-ink-ripple" ng-click="saveProfile()">Save</button>
		<button class="md-raised md-primary md-button md-ink-ripple" ng-click="homeView()">Back to Your Profile</button>
	</fieldset>
</form>



