<section class="container profile" ng-controller="ProfileCtrl">

	<div class="row">
		<div class="col-md-12">
			<h2>Welcome {{ user.firstName }}!</h2>
			<profile-nav></profile-nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<!-- profile image will go here -->
			<span class="imagePlaceholder"></span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h3>{{ user.firstName + ' ' + user.lastName }} </h3>
			<h4>{{ user.DOB | date : MMMM.dd.y}}</h4>
			<p>{{ user.about }}</p>
		</div>
	</div>

	<hr />

	<button class="btn btn-primary" ng-click="editProfileView()">Edit Profile</button>

</section>
