

/* login styles */
.ng-invalid.ng-dirty {
  border-color: #fa787e;
}
.ng-valid.ng-dirty {
  border-color: #78fa89;
}
.login {
  margin-top: 100px;
}
/* profile image placeholder*/
.imagePlaceholder{
  background-color: #eee;
  border-radius: 50px;
  height: 200px;
  width: 200px;
  float: left;
  margin: 25px 0 0 0;
}

/* file uploader */

.thumb {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 200px;
  text-align: center;
  padding-top: 50px;
  margin: 10px;
}


@font-face {
  font-family:"icomoon";
  src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


html,  body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-toolbar .md-toolbar-tools h1 {
  font-size: 1.250em;
  font-weight: 400;
}

md-toolbar {
}

#content {
  padding: 75px 40px 0px 40px;
}

md-sidenav {
  min-height: 1000px;
}

md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

a.navBtn {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  padding: 15px 0 15px 15px;
  margin:0px 10px 0px 10px;
}

md-list .md-button.selected {
  color: #03a9f4;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}



.fill-height{
  display: flex;
  flex: 1;
  min-height: 100%;
}

.fill-height > div{
  min-height: 100%;
  display: flex;
}

md-sidenav {
  overflow: visible;

}

.md-button.md-icon-button {
  padding: 3px 0px 0px 0px !important;
}

.material-icons.md-36 { 
  font-size: 36px; 
  margin-bottom: 50px;
}












